In [1]:
import pandas as pd
import datetime
from movements import *

In [2]:
file = "Movimientos Kutxabank/2023-04.xls"
df = pd.read_excel(file, skiprows=6)
df = df.dropna(how='all')
df

,fecha,concepto,fecha valor,importe,saldo
1,01/04/2024,ENVIO BIZUM comida paposa Abril,01/04/2024,-10.00,3009.45
2,02/04/2024,LIQ. DE INT.HASTA 31.03.24,31/03/2024,0.00,3009.45
3,03/04/2024,Lieferando.at Lieferservi,01/04/2024,-14.48,2994.97
4,03/04/2024,Lycamobile GmbH,10/03/2024,19.90,3014.87
5,05/04/2024,RECIBO Internat.Studente,05/04/2024,-406.00,2608.87
...,...,...,...,...,...
68,29/04/2024,DIE BROTBUBEN,27/04/2024,-6.10,3248.93
69,30/04/2024,HTTP://WWW.SPEAKLY.ME,28/04/2024,-9.99,3238.94
70,30/04/2024,Spar Fil. 2117,28/04/2024,-8.57,3230.37
71,30/04/2024,TECHCAFE IM ICT,26/04/2024,-8.90,3221.47
72,30/04/2024,AMAZON MED* D01-908283,28/04/2024,-9.49,3211.98

In [3]:
# Creating a finance tracker
april_tracker = FinanceTracker()
for index, row in df.iterrows():
    date = row['fecha valor']
    concept = row['concepto']
    amount = row['importe']
    april_tracker.create_movement(concept, date, amount)

'ENVIO BIZUM comida paposa Abril      ' is not classified. Please select a category:
Categories: Groceries, Hose rent, Salary, Scholarship, Sport, Subscription, Unknown
'LIQ. DE INT.HASTA 31.03.24       ' is not classified. Please select a category:
Categories: Comida Paposa, Groceries, Hose rent, Salary, Scholarship, Sport, Subscription, Unknown
'Lieferando.at Lieferservi' is not classified. Please select a category:
Categories: , Comida Paposa, Groceries, Hose rent, Salary, Scholarship, Sport, Subscription, Unknown
'Lycamobile GmbH          ' is not classified. Please select a category:
Categories: , Comida Paposa, Groceries, Hose rent, Salary, Scholarship, Sport, Subscription, Unknown
'RECIBO Internat.Studente        ' is not classified. Please select a category:
Categories: , Comida Paposa, Groceries, Hose rent, Salary, Scholarship, Sport, Subscription, Unknown
'TECHCAFE IM ICT          ' is not classified. Please select a category:
Categories: , Comida Paposa, Groceries, Hose rent, Salary, Scholarship, Sport, Subscription, Unknown
'CHATGPT SUBSCRIPTION     ' is not classified. Please select a category:
Categories: , Comida Paposa, Groceries, Hose rent, Salary, Scholarship, Sport, Subscription, Unknown
'HOLLY KAFFEESYSTEME GMBH ' is not classified. Please select a category:
Categories: , Comida Paposa, Groceries, Hose rent, Salary, Scholarship, Sport, Subscription, Unknown

In [ ]:
april_tracker.categories

{'Comida paposa',
 'Groceries',
 'Hose rent',
 'Salary',
 'Scholarship',
 'Sport',
 'Subscription',
 'Unknown'}